<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"> 
	<title>中天国泰设计源</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=1000,initial-scale=1,maximum-scale=1,user-scalable=yes">

	<link rel="Shortcut Icon" href="../static/favicon.ico">
	<!-- Standard iPad -->  
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="../static/touch-icon-ipad-144.png" />  
	<!-- Retina iPad -->  
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="../static/touch-icon-ipad-144.png" /> 
	<link rel="stylesheet" href="../static/css/main.css">
	<link rel="stylesheet" href="../static/css/index.css">
	<!--[if lt IE 9]>
	<script src="../static/js/html5.js"></script>
	<![endif]-->
</head>  
 <body>
 	<!-- 头部 -->
	<header class="header"> 
		<!-- topbar -->
		<div class="topbar">
			<div class="layout">
				<div class="bar_right">
					<ul>
						<li>
						   <span>
							  <i></i>免费咨询热线：<span class="font_or">888-8888888</span>
						   </span>
						</li>
						<em></em>
						<li><a href="javascript:;">设为首页</a></li>
						<em></em>
						<li><a href="javascript:;">加入收藏</a></li>
						<em></em>
						<li><a href="">联系我们</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- topbar-end -->
		<!-- nav -->
		<nav class="nav">
			<div class="layout">
				<div class="nav_left">
					<!-- logo size 290px*64px -->
					<a href="" class="logo">
						<img src="../static/images/logo.png" alt="">
					</a>
				</div>
				<ul class="nav_right">
					<li><a href="" class="active">网站首页</a></li>
					<li><a href="">能源应用</a></li>
					<li><a href="">新闻中心</a></li>
					<li><a href="">关于我们</a></li>
					<li><a href="">企业文化</a></li>
					<li><a href="#">联系我们</a></li>
				</ul>
			</div>
		</nav>
		<!-- nav-end -->
		<!-- banner -->
		<div class="banner" id="banner">
			<ul><!-- banner img size 100%*360px -->
				<li><a href=""><img src="../static/images/banner1.jpg" alt=""></a></li>
				<li><a href=""><img src="../static/images/banner2.jpg" alt="" ></a></li>
				<li><a href=""><img src="../static/images/banner3.jpg" alt="" ></a></li>
			</ul>
			<div class="layout">
            	<a href="javascript:;" class="prev"></a>
           		<a href="javascript:;" class="next"></a>  
			</div>
		</div>
		<!-- banner-end -->	
	</header>
	<!-- 头部结束 -->
	<!-- 内容 -->
	<div class="content">
		<div class="title">
			<div class="layout">
				<span class="fn-fl">产品介绍</span>
				<a href="" class="fn-fr">查看更多产品>></a>
			</div>
		</div>
		<div class="product layout">
				<div class="product_list fn-fl fn-fl">
					<ul>
						<li class="name">
							Bioenergy
						</li>
						<li>
							<a>中国秸秆资源数量估计</a>
						</li>
						<li>
							<a>玉米秸秆干发酵制取沼气的实验</a>
						</li>
						<li>
							<a>玉米秸秆储存方式对其牛粪混合厌氧消化特性</a>
						</li>
						<li>
							<a>全国农作物秸秆资源调查与评估报告</a>
						</li>
						<li>
							<a>秸秆好氧厌氧耦合发酵生产生物饲料：厌氧发酵的初步研究</a>
						</li>
					</ul>
				</div>
				<div class="product_item fn-fr">
					<ul>
						<li>
						<a href="">
							<div class="photo">
							<img src="../static/images/product1.jpg" alt="">
							</div>
							<p class="fn_text_overflow">不同处理秸秆中温厌氧发酵的产气效果不同处理秸秆中温厌氧发酵的产气效果</p>
						</a>
							
						</li>
						<li>
							<a href="">
							<div class="photo">
							<img src="../static/images/product2.jpg" alt="">
							</div>
							<p class="fn_text_overflow">秸秆：被抛弃的”煤炭”</p>
						</a>
						</li>
					</ul>
					<ul>
						<li>
							<a href="">
							<div class="photo">
							<img src="../static/images/product3.jpg" alt="">
							</div>
							<p class="fn_text_overflow">稻壳与玉米秸秆高温厌氧整备生物燃气潜力研究</p>
						</a>
						</li>
						<li>
							<a href="">
							<div class="photo">
							<img src="../static/images/product4.jpg" alt="">
							</div>
							<p class="fn_text_overflow">秸秆好氧厌氧耦合发酵生产生物饲料：厌氧发酵的初步研究</p>
						</a>
						</li>
					</ul>
				</div>	
		</div>
		<div class="title">
			<div class="layout">
				<div class="la_fl fn-fl">
					<span class="fn-fl">产品介绍</span>
					<a href="" class="fn-fr">更多>></a>
				</div>
				<div class="la_fr fn-fr">
					<span class="fn-fl">企业文化</span>
					<a href="" class="fn-fr">更多>></a>
				</div>
			</div>	
		</div>
		<div class="news layout">
			<div class="news_list fn-fl">
				<div class="news_item">
					<a href="">
						<img src="../static/images/new.png" alt="">
						<div class="info">
							<span class="data">2017-6-18</span>
							<span class="name fn_text_overflow">关于申报2016年规模化大型沼气工程中央预算内投资计划的通知</span>
							<p>
								贯彻落实中央关于建设生态文明，推进农业可持续化发展和转变农业发展方式的战略部署，围绕资源化利用农作物等农村废弃物，深入推进农村沼气转型升级，继续开展规模化天然气工程试点
							</p>
						</div>
					</a>
				</div>
				<ul>
					<li>
						<a href="">
						    <i></i>
							<span class="cn_text fn_text_overflow">关于申报2016年规模化大型沼气工程中央预算内投资计划的通知</span>
							<span class="cn_data">2017-6-18</span>
						</a>
					</li>
					<li>
						<a href="">
						    <i></i>
							<span class="cn_text fn_text_overflow">国家发展改革委《能源生产和消费革命战略（2016-2030）》</span>
							<span class="cn_data">2017-6-18</span>
						</a>
					</li>
					<li>
						<a href="">
						    <i></i>
							<span class="cn_text fn_text_overflow">国家能源局关于印发2017年能源工作指导意见的通知</span>
							<span class="cn_data">2017-6-18</span>
						</a>
					</li>
					<li>
						<a href="">
						    <i></i>
							<span class="cn_text fn_text_overflow">秸杆的利用与深加工</span>
							<span class="cn_data">2017-6-18</span>
						</a>
					</li>
					<li>
						<a href="">
						    <i></i>
							<span class="cn_text fn_text_overflow">税收政策01：附件：资源综合利用产品和劳务增值税优惠目录</span>
							<span class="cn_data">2017-6-18</span>
						</a>
					</li>
					<li>
						<a href="">
						    <i></i>
							<span class="cn_text fn_text_overflow">税收政策01：《资源综合利用产品和劳务增值税优惠目录》</span>
							<span class="cn_data">2017-6-18</span>
						</a>
					</li>
					<li>
						<a href="">
						    <i></i>
							<span class="cn_text fn_text_overflow">税收政策02：关于明确有机肥产品执行标准的公告</span>
							<span class="cn_data">2017-6-18</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="culture fn-fr">
				<ul>
					<li>
						<span class="english">FOCUS</span>
						<span class="name">专注一面对世界</span>
						<p>
							贯彻落实中央关于建设生态文明，推进农业可持续化发展
						</p>
					</li>
					<li>
						<span class="english">SPECIALTY</span>
						<span class="name">专注一面对自己</span>
						<p>
							贯彻落实中央关于建设生态文明，推进农业可持续化发展
						</p>
					</li>
					<li>
						<span class="english">PURPOSEFULLY</span>
						<span class="name">专注一面对客户</span>
						<p>
							贯彻落实中央关于建设生态文明，推进农业可持续化发展
						</p>
					</li>
				</ul>
				<div class="cu_img"></div>
			</div>
		</div>
	</div>
	<!-- 内容结束 -->
    <!-- 底部 -->
    <div class="footer">
    	<div class="title">
			<div class="layout">
				<span class="fn-fl">联系我们</span>
			</div>
		</div>
		<div class="contact layout">
			<div class="con_name">
				CONTACT US
			</div>
		    <ul>
		    	<li>www.</li>
		    	<li>地址：<span></span></li>
		    	<li>电话：<span></span></li>
		    	<li>手机：<span></span></li>
		    	<li>邮箱：<span></span></li>
		    	<li>Q  Q: <span></span></li>
		    </ul>
		    <ul class="container">
		    	<p>关于中天国泰</p>
		    	<p>中天国泰生物能源科技股份有限公司成立于2017年，是一家以致力于生物能源发展的新型企业。公司依托行业积累的成功经验、资源优势、科技优势、品牌优势和市场网络优势，致力于推广和普及生物能源，从而提升社会能源应用。</p>
		    	<p>中天国泰生物能源科技股份有限公司始终以科学发展观统领全局，积极响应国家调整能源结构、节能减排、循环经济的政策要求，依照中天国泰在农业生物能源领域的战略布局，秉承中天国泰“为出资人、为社会、为员工”的企业宗旨，遵循绿色投资、低碳发展，努力承担发展清洁能源的重任和使命，践行“以德立业，反哺奉献”的社会责任理念，全力打造行业内百亿生物能源企业。</p>
		    </ul>
		</div>
		<div class="miit">
			<div class="layout">
				<span>Copyright   2017 中天国泰生物能源科技股份有限公司 All Rights &nbsp;&nbsp;辽ICP备17012174号</span>
				<span>分类：能源 玉米秸秆储存方式对其与牛粪混合厌氧消化特性</span>
			</div>
		</div>
		<div class="links">
			<div class="layout">
				<span>友情链接：</span>
	           <a href="">百度</a>
			</div>
		</div>
    </div>
    <!-- 底部结束 -->
<script src="../static/js/jquery.min.js"></script>	
<script src="../static/js/index.js"></script>
 </body>
 </html> 